RewriteEngine On
RewriteBase /adicomp/karyawan/

# Redirect URL yang terlihat seperti /adicomp/karyawan/namafile.php ke /adicomp/karyawan/namafile
RewriteCond %{THE_REQUEST} /adicomp/karyawan/([^\.]+)\.php [NC]
RewriteRule ^([^\.]+)\.php$ /adicomp/karyawan/$1 [L,R=301]

# Menangani permintaan ke URL yang sudah "bersih" seperti /adicomp/karyawan/namafile
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ $1.php [L]

# Khusus untuk halaman default (dashboard)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ dashboard.php [L]